<h1> Hola, te comunicamos para decirte que ¡Hay una nueva convocatoria!</h1>
<p> Se ha creado la convocatoria <strong>{{AnncmtName}}</strong></p>
<p> Te damos una descripción de la convocatoria: {{AnnDesc}} </p>
<p> Ya puedes ir a la aplicación de tu celular o a la página web si quieres ver más detalles sobre esta convocatoria y puedas participar si así lo deseas! </p>
