<h1>Hey!, {{name}} </h1>

<p>Nuestro gremio de magos han dicho que tu proyecto: <strong>{{proyecto}}</strong> está: <strong>{{estado}}</strong></p>
<p> Te sugerimos que entres vayas a la aplicación y mires más detalles de tu proyecto </p>