<h1>Hola {{name}},</h1>
<p>Recibiste este correo porque solicitaste restablecer tu contrase침a. Haz clic en el enlace a continuaci칩n para restablecerla:</p>
<a href="{{resetUrl}}">Restablecer Contrase침a</a>
<p>token: {{token}}</p>
<p>Si no solicitaste restablecer tu contrase침a, puedes ignorar este correo.</p>
<p><strong>Gracias</strong> por confiar en nosotros</p>
