<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style={color: #A78BFA;}>Hola {{name}},</h1>
    <p>Recibiste este correo porque solicitaste restablecer tu contrase침a. Haz clic en el enlace a continuaci칩n para
        restablecerla:</p>
    <a style={color: #A78BFA;} href="{{resetUrl}}">Restablecer Contrase침a</a>
    <p>Si no solicitaste restablecer tu contrase침a, puedes ignorar este correo.</p>
    <p><strong>Gracias</strong> por confiar en nosotros</p>
</body>

</html>