<h1>Hola {{name}},</h1>
<p>Recibiste este correo porque solicitaste restablecer tu contrase침a. Haz clic en el enlace a continuaci칩n para restablecerla:</p>
<a href="{{resetUrl}}">Restablecer Contrase침a</a>
<p>Si no solicitaste restablecer tu contrase침a, puedes ignorar este correo.</p>
<p><h1>Gracias</h1> por confiar en nosotros</p>
